flow/flow.json
[
    {
        "id": "4adbba8b74965327",
        "type": "tab",
        "label": "process",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b24a2ceb85220d96",
        "type": "tab",
        "label": "settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "33b9f85bb1705571",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#8f0000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#8f0000",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#8f0000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#db0000",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#8f0000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "VibroDosierung",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 6,
                "py": 6
            }
        }
    },
    {
        "id": "4a8afe0b13ccaaf5",
        "type": "ui_tab",
        "name": "VibroDoser",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bbdb2e3a9583a9e5",
        "type": "ui_group",
        "name": "Waage",
        "tab": "4a8afe0b13ccaaf5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69c946150b4dd86c",
        "type": "ui_group",
        "name": "Abfüllen",
        "tab": "4a8afe0b13ccaaf5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78fb0df34975f13f",
        "type": "ui_group",
        "name": "Einstellungen",
        "tab": "4a8afe0b13ccaaf5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c8377e10a2838ec8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b67f1eeb34ddf012",
        "type": "ui_group",
        "name": "Entleeren",
        "tab": "4a8afe0b13ccaaf5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c3ce67b4478bf71",
        "type": "mqtt in",
        "z": "4adbba8b74965327",
        "name": "",
        "topic": "vibroDoser/scale/load",
        "qos": "2",
        "datatype": "utf8",
        "broker": "c8377e10a2838ec8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "856d9be4b396a400"
            ]
        ]
    },
    {
        "id": "ee7dc2a7fb360f18",
        "type": "ui_gauge",
        "z": "4adbba8b74965327",
        "name": "scale gauge",
        "group": "bbdb2e3a9583a9e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": " ",
        "label": "[g]",
        "format": "{{value}}",
        "min": "-300",
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "ce2e608c68f9ba42",
        "type": "mqtt out",
        "z": "4adbba8b74965327",
        "name": "",
        "topic": "vibroDoser/scale/tare",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c8377e10a2838ec8",
        "x": 1080,
        "y": 200,
        "wires": []
    },
    {
        "id": "31852dea699159ff",
        "type": "ui_button",
        "z": "4adbba8b74965327",
        "name": "",
        "group": "bbdb2e3a9583a9e5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Waage nullen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "a18f93fdf5d17133",
                "2d0197701452988d"
            ]
        ]
    },
    {
        "id": "cd70e184447c1aea",
        "type": "comment",
        "z": "4adbba8b74965327",
        "name": "Scale",
        "info": "",
        "x": 130,
        "y": 700,
        "wires": []
    },
    {
        "id": "ca7c0ea87f9e424a",
        "type": "comment",
        "z": "4adbba8b74965327",
        "name": "start process",
        "info": "",
        "x": 150,
        "y": 360,
        "wires": []
    },
    {
        "id": "dd375537b149400d",
        "type": "function",
        "z": "4adbba8b74965327",
        "name": "fill function",
        "func": "if (global.get(\"feederOn\") == true && global.get(\"unloadFeeder\") == false){\n\n    var weight = parseInt(msg.payload);\n    \n    var feederSpeed = global.get(\"feederSpeed\");\n\n    var percentSlowWeight = 0.70;\n    var percentFineWeight = 0.90;\n\n    var percentSlowSpeed = 0.80;\n    var percentFineSpeed = 0.40;\n    \n    var targetWeigth = global.get(\"targetWeight\");\n    var slowWeigth = Math.round(targetWeigth * percentSlowWeight);\n    var fineWeight = Math.round(targetWeigth * percentFineWeight);\n\n    if(weight >= targetWeigth){\n        msg.payload = 0;\n        global.set(\"feederOn\", false);\n        var msgGui = {payload: false};\n        var msgRelay = {payload: true}; \n        return [msg, msgRelay, msgGui];\n    }    \n    else if(weight >= fineWeight){ \n\n        feederSpeed = Math.round(feederSpeed * percentFineSpeed);\n        msg.payload = feederSpeed;\n        return msg;\n    }    \n    else if(weight >= slowWeigth){\n        feederSpeed = Math.round(feederSpeed * percentSlowSpeed);\n        msg.payload = feederSpeed;\n        return msg;\n    }\n    else{        \n        msg.payload = feederSpeed;\n        return msg;\n    }    \n\n}\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 760,
        "wires": [
            [
                "cda420b543946bae"
            ],
            [
                "196a347ed78baa2d"
            ],
            [
                "b78faea3875a45e8"
            ]
        ],
        "outputLabels": [
            "pwm",
            "relay",
            "gui"
        ]
    },
    {
        "id": "67d89c07d363a657",
        "type": "function",
        "z": "4adbba8b74965327",
        "name": "start feeder function",
        "func": "if (msg.payload == true && global.get(\"unloadFeeder\") == false){\n    \n    global.set(\"feederOn\", true); \n\n    var msgPwm = { payload: parseInt(global.get(\"feederSpeed\"))};\n\n    var msgRelay = { payload: false };\n\n    var msgGui = { payload: \"On\" };   \n\n    return [msgPwm, msgRelay, msgGui];\n}\nelse if (msg.payload == false){\n\n    global.set(\"feederOn\", false);\n\n    var msgPwm = { payload: 0 };\n\n    var msgRelay = { payload: true };\n\n    var msgGui = { payload: \"Off\" };\n\n    return [msgPwm, msgRelay, msgGui];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 920,
        "wires": [
            [
                "8a39686050f10883"
            ],
            [
                "d957e15d07037922"
            ],
            [
                "21493821ce57afc8"
            ]
        ],
        "outputLabels": [
            "pwm",
            "relay",
            "gui"
        ]
    },
    {
        "id": "21493821ce57afc8",
        "type": "ui_text",
        "z": "4adbba8b74965327",
        "group": "69c946150b4dd86c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "status feeder",
        "label": "Status :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 750,
        "y": 960,
        "wires": []
    },
    {
        "id": "e6ae95bb9002a2a8",
        "type": "inject",
        "z": "4adbba8b74965327",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.5",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "e5d0c17055022a5d"
            ]
        ]
    },
    {
        "id": "897b50845bd5e55c",
        "type": "aedes broker",
        "z": "4adbba8b74965327",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 170,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d04f22983d7bd26d",
        "type": "comment",
        "z": "4adbba8b74965327",
        "name": "unload",
        "info": "",
        "x": 130,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e5d0c17055022a5d",
        "type": "ui_switch",
        "z": "4adbba8b74965327",
        "name": "",
        "label": "Start",
        "tooltip": "",
        "group": "69c946150b4dd86c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 920,
        "wires": [
            [
                "67d89c07d363a657"
            ]
        ]
    },
    {
        "id": "2a841b8f655cd4c2",
        "type": "ui_switch",
        "z": "4adbba8b74965327",
        "name": "",
        "label": "Entladen",
        "tooltip": "",
        "group": "b67f1eeb34ddf012",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "2a0fd3ce0c78b942"
            ]
        ]
    },
    {
        "id": "2a0fd3ce0c78b942",
        "type": "function",
        "z": "4adbba8b74965327",
        "name": "start / stop unload function",
        "func": "if (msg.payload == true){\n\n    global.set(\"feederOn\", false);\n    global.set(\"unloadFeeder\", true);\n\n    var msgPwm = { payload: parseInt(global.get(\"feederSpeed\")) };\n\n    var msgRelay = { payload: false };\n\n    var msgGui = { payload: \"On\" };\n\n    return [msgPwm, msgRelay, msgGui];\n}\nelse{    \n    \n    global.set(\"feederOn\", false);\n    global.set(\"unloadFeeder\", false);\n\n    var msgPwm = { payload: 0 };\n\n    var msgRelay = { payload: true };\n\n    var msgGui = { payload: \"Off\" };    \n    \n    return [msgPwm, msgRelay, msgGui];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1140,
        "wires": [
            [
                "0e24c2d1f8f9f87e"
            ],
            [
                "659af1a9f548ec73"
            ],
            [
                "7cdabc6dd0c4f8bf"
            ]
        ]
    },
    {
        "id": "7cdabc6dd0c4f8bf",
        "type": "ui_text",
        "z": "4adbba8b74965327",
        "group": "b67f1eeb34ddf012",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "status unload",
        "label": "Status Entladen:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 750,
        "y": 1180,
        "wires": []
    },
    {
        "id": "0f4e8c6840b7e940",
        "type": "inject",
        "z": "4adbba8b74965327",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.5",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 1200,
        "wires": [
            [
                "2a841b8f655cd4c2"
            ]
        ]
    },
    {
        "id": "62bf45b08f3f107c",
        "type": "comment",
        "z": "4adbba8b74965327",
        "name": "tare",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "c18413343dc04bfa",
        "type": "comment",
        "z": "4adbba8b74965327",
        "name": "stop process",
        "info": "",
        "x": 150,
        "y": 500,
        "wires": []
    },
    {
        "id": "57c0618cb41e8f62",
        "type": "change",
        "z": "4adbba8b74965327",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "unloadFeeder",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 560,
        "wires": [
            [
                "a4a97b1ae779d324"
            ]
        ]
    },
    {
        "id": "0360448cab9d8d4e",
        "type": "debug",
        "z": "4adbba8b74965327",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "de96bacc238f6deb",
        "type": "debug",
        "z": "4adbba8b74965327",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 380,
        "wires": []
    },
    {
        "id": "27cbcac83a621d11",
        "type": "debug",
        "z": "4adbba8b74965327",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 520,
        "wires": []
    },
    {
        "id": "a18f93fdf5d17133",
        "type": "change",
        "z": "4adbba8b74965327",
        "name": "toggle mgs.payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 280,
        "wires": [
            [
                "cb49b1f621e308f3"
            ]
        ]
    },
    {
        "id": "e0a560e4fae7e7dc",
        "type": "mqtt in",
        "z": "4adbba8b74965327",
        "name": "",
        "topic": "vibroDoser/scale/status",
        "qos": "2",
        "datatype": "utf8",
        "broker": "c8377e10a2838ec8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1340,
        "wires": [
            [
                "52f5efb3a6c440d9"
            ]
        ]
    },
    {
        "id": "797b686411d6a125",
        "type": "rpi-gpio in",
        "z": "4adbba8b74965327",
        "name": "startPin",
        "pin": "12",
        "intype": "down",
        "debounce": "100",
        "read": true,
        "bcm": true,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "de96bacc238f6deb",
                "aaba8297dddd6304"
            ]
        ]
    },
    {
        "id": "9b672c2fa24d73cc",
        "type": "trigger",
        "z": "4adbba8b74965327",
        "name": "filter pin input",
        "op1": "true",
        "op2": "",
        "op1type": "bool",
        "op2type": "nul",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "55674dd52a6a59e4"
            ]
        ]
    },
    {
        "id": "992a266ca09d4f1d",
        "type": "rpi-gpio in",
        "z": "4adbba8b74965327",
        "name": "tarePin",
        "pin": "19",
        "intype": "down",
        "debounce": "100",
        "read": true,
        "bcm": true,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "0360448cab9d8d4e",
                "bcbf4fd69d7002df"
            ]
        ]
    },
    {
        "id": "a838b9d18859b969",
        "type": "trigger",
        "z": "4adbba8b74965327",
        "name": "filter pin input",
        "op1": "true",
        "op2": "",
        "op1type": "bool",
        "op2type": "nul",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "a18f93fdf5d17133",
                "2d0197701452988d"
            ]
        ]
    },
    {
        "id": "60c13de2d8807924",
        "type": "rpi-gpio in",
        "z": "4adbba8b74965327",
        "name": "stopPin",
        "pin": "20",
        "intype": "down",
        "debounce": "100",
        "read": true,
        "bcm": true,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "27cbcac83a621d11",
                "182ab980883b1165"
            ]
        ]
    },
    {
        "id": "c79cae65a25ed39c",
        "type": "trigger",
        "z": "4adbba8b74965327",
        "name": "filter pin input",
        "op1": "true",
        "op2": "",
        "op1type": "bool",
        "op2type": "nul",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 490,
        "y": 560,
        "wires": [
            [
                "57c0618cb41e8f62"
            ]
        ]
    },
    {
        "id": "32df17fa1e0d118b",
        "type": "rpi-gpio out",
        "z": "4adbba8b74965327",
        "name": "feederPWM",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "600",
        "out": "pwm",
        "bcm": true,
        "x": 1270,
        "y": 700,
        "wires": []
    },
    {
        "id": "06869d63ced3b092",
        "type": "rpi-gpio out",
        "z": "4adbba8b74965327",
        "name": "dedustingPowerPin",
        "pin": "5",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1290,
        "y": 840,
        "wires": []
    },
    {
        "id": "d5ebe25a9c546c20",
        "type": "rpi-gpio out",
        "z": "4adbba8b74965327",
        "name": "feederPowerPin",
        "pin": "6",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1280,
        "y": 780,
        "wires": []
    },
    {
        "id": "52f5efb3a6c440d9",
        "type": "switch",
        "z": "4adbba8b74965327",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 1340,
        "wires": [
            [
                "658b08c470fb5a54"
            ]
        ]
    },
    {
        "id": "658b08c470fb5a54",
        "type": "change",
        "z": "4adbba8b74965327",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scaleActive",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "856d9be4b396a400",
        "type": "switch",
        "z": "4adbba8b74965327",
        "name": "check if scaleActive",
        "property": "scaleActive",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 760,
        "wires": [
            [
                "dd375537b149400d",
                "ee7dc2a7fb360f18"
            ]
        ]
    },
    {
        "id": "d2dcdf547164c63c",
        "type": "comment",
        "z": "4adbba8b74965327",
        "name": "scale status",
        "info": "",
        "x": 150,
        "y": 1280,
        "wires": []
    },
    {
        "id": "8a39686050f10883",
        "type": "link out",
        "z": "4adbba8b74965327",
        "name": "link out to feeder pwm",
        "mode": "link",
        "links": [
            "bd20717e6ddb97fc"
        ],
        "x": 695,
        "y": 880,
        "wires": []
    },
    {
        "id": "bd20717e6ddb97fc",
        "type": "link in",
        "z": "4adbba8b74965327",
        "name": "link to feeder pwm",
        "links": [
            "8a39686050f10883",
            "cda420b543946bae",
            "0e24c2d1f8f9f87e"
        ],
        "x": 1155,
        "y": 700,
        "wires": [
            [
                "32df17fa1e0d118b"
            ]
        ]
    },
    {
        "id": "cda420b543946bae",
        "type": "link out",
        "z": "4adbba8b74965327",
        "name": "link out to feeder pwm",
        "mode": "link",
        "links": [
            "bd20717e6ddb97fc"
        ],
        "x": 945,
        "y": 720,
        "wires": []
    },
    {
        "id": "196a347ed78baa2d",
        "type": "link out",
        "z": "4adbba8b74965327",
        "name": "link out to relays",
        "mode": "link",
        "links": [
            "3881b8552aa5e2a8"
        ],
        "x": 945,
        "y": 760,
        "wires": []
    },
    {
        "id": "3881b8552aa5e2a8",
        "type": "link in",
        "z": "4adbba8b74965327",
        "name": "link in to relays",
        "links": [
            "196a347ed78baa2d",
            "d957e15d07037922",
            "659af1a9f548ec73"
        ],
        "x": 1155,
        "y": 820,
        "wires": [
            [
                "d5ebe25a9c546c20",
                "06869d63ced3b092"
            ]
        ]
    },
    {
        "id": "d957e15d07037922",
        "type": "link out",
        "z": "4adbba8b74965327",
        "name": "link out to relays",
        "mode": "link",
        "links": [
            "3881b8552aa5e2a8"
        ],
        "x": 695,
        "y": 920,
        "wires": []
    },
    {
        "id": "0e24c2d1f8f9f87e",
        "type": "link out",
        "z": "4adbba8b74965327",
        "name": "link out to feeder pwm",
        "mode": "link",
        "links": [
            "bd20717e6ddb97fc"
        ],
        "x": 695,
        "y": 1100,
        "wires": []
    },
    {
        "id": "659af1a9f548ec73",
        "type": "link out",
        "z": "4adbba8b74965327",
        "name": "link out to relays",
        "mode": "link",
        "links": [
            "3881b8552aa5e2a8"
        ],
        "x": 695,
        "y": 1140,
        "wires": []
    },
    {
        "id": "55674dd52a6a59e4",
        "type": "link out",
        "z": "4adbba8b74965327",
        "name": "link out to start button",
        "mode": "link",
        "links": [
            "770efd98583330f2"
        ],
        "x": 635,
        "y": 420,
        "wires": []
    },
    {
        "id": "770efd98583330f2",
        "type": "link in",
        "z": "4adbba8b74965327",
        "name": "link in to start button",
        "links": [
            "55674dd52a6a59e4",
            "a4a97b1ae779d324",
            "b78faea3875a45e8"
        ],
        "x": 85,
        "y": 920,
        "wires": [
            [
                "e5d0c17055022a5d"
            ]
        ]
    },
    {
        "id": "a4a97b1ae779d324",
        "type": "link out",
        "z": "4adbba8b74965327",
        "name": "link out to start button",
        "mode": "link",
        "links": [
            "770efd98583330f2"
        ],
        "x": 915,
        "y": 560,
        "wires": []
    },
    {
        "id": "b78faea3875a45e8",
        "type": "link out",
        "z": "4adbba8b74965327",
        "name": "link out to start button",
        "mode": "link",
        "links": [
            "770efd98583330f2"
        ],
        "x": 945,
        "y": 800,
        "wires": []
    },
    {
        "id": "cb49b1f621e308f3",
        "type": "change",
        "z": "4adbba8b74965327",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scaleActive",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2d0197701452988d",
        "type": "change",
        "z": "4adbba8b74965327",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "hx711ReferenceUnit",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 200,
        "wires": [
            [
                "ce2e608c68f9ba42"
            ]
        ]
    },
    {
        "id": "bcbf4fd69d7002df",
        "type": "switch",
        "z": "4adbba8b74965327",
        "name": "filter pin input",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "a838b9d18859b969"
            ]
        ]
    },
    {
        "id": "aaba8297dddd6304",
        "type": "switch",
        "z": "4adbba8b74965327",
        "name": "filter pin input",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "9b672c2fa24d73cc"
            ]
        ]
    },
    {
        "id": "182ab980883b1165",
        "type": "switch",
        "z": "4adbba8b74965327",
        "name": "filter pin input",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "c79cae65a25ed39c"
            ]
        ]
    },
    {
        "id": "80fe44f84b7c2de2",
        "type": "ui_numeric",
        "z": "b24a2ceb85220d96",
        "name": "set target weight",
        "label": "Ziel Gewicht [g]",
        "tooltip": "",
        "group": "78fb0df34975f13f",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "10",
        "max": "1050",
        "step": 1,
        "className": "",
        "x": 440,
        "y": 340,
        "wires": [
            [
                "c04b72b0c86bfb1d"
            ]
        ]
    },
    {
        "id": "e37b6a2865d16a73",
        "type": "inject",
        "z": "b24a2ceb85220d96",
        "name": "init target weight",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "80fe44f84b7c2de2"
            ]
        ]
    },
    {
        "id": "005bf08a0d3b0aa5",
        "type": "comment",
        "z": "b24a2ceb85220d96",
        "name": "Feeder",
        "info": "",
        "x": 150,
        "y": 100,
        "wires": []
    },
    {
        "id": "b8680bc63c768aa0",
        "type": "inject",
        "z": "b24a2ceb85220d96",
        "name": "init feederSpeed",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "b27a8cf2994b07a2"
            ]
        ]
    },
    {
        "id": "91ac84589e9f7b9a",
        "type": "inject",
        "z": "b24a2ceb85220d96",
        "name": "init feederOn",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "f779b63e33dac674"
            ]
        ]
    },
    {
        "id": "b27a8cf2994b07a2",
        "type": "ui_numeric",
        "z": "b24a2ceb85220d96",
        "name": "set feeder speed gui",
        "label": "Fördergeschwindigkeit ",
        "tooltip": "",
        "group": "78fb0df34975f13f",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "5",
        "max": "100",
        "step": "5",
        "className": "",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "5c69aaf1af89e1d6"
            ]
        ]
    },
    {
        "id": "31d2a54147aa686c",
        "type": "comment",
        "z": "b24a2ceb85220d96",
        "name": "hx711",
        "info": "",
        "x": 150,
        "y": 420,
        "wires": []
    },
    {
        "id": "15ec32a3688df884",
        "type": "inject",
        "z": "b24a2ceb85220d96",
        "name": "init hx711ReferenceUnit",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1946",
        "payloadType": "num",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "85ec280d7be0bbd0"
            ]
        ]
    },
    {
        "id": "6f863128768279d0",
        "type": "inject",
        "z": "b24a2ceb85220d96",
        "name": "init unloadFeeder",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "f639ea235785baf3"
            ]
        ]
    },
    {
        "id": "0583f347155d3a55",
        "type": "inject",
        "z": "b24a2ceb85220d96",
        "name": "init scaleActive",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "32bf89a5530d89d3"
            ]
        ]
    },
    {
        "id": "32bf89a5530d89d3",
        "type": "change",
        "z": "b24a2ceb85220d96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scaleActive",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "85ec280d7be0bbd0",
        "type": "change",
        "z": "b24a2ceb85220d96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hx711ReferenceUnit",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c04b72b0c86bfb1d",
        "type": "change",
        "z": "b24a2ceb85220d96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "targetWeight",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f639ea235785baf3",
        "type": "change",
        "z": "b24a2ceb85220d96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "unloadFeeder",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f779b63e33dac674",
        "type": "change",
        "z": "b24a2ceb85220d96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "feederOn",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5c69aaf1af89e1d6",
        "type": "change",
        "z": "b24a2ceb85220d96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "feederSpeed",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    }
]